@import "src/themes/index.scss";

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style-type: none;
  > .item {
    padding-left: 24px;
    padding-right: 24px;
    font-size: large;
    cursor: pointer;
    &:hover {
      color: black;
      background-color: gray;
    }

    > .link {
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      line-height: 46px;

    }

  }

}



//font-size: 15px;
//word-break: break-word;
//text-align: center;
//justify-content: center;
//
//cursor: pointer;
//&:hover {
//  color: gray;
//}

//#header {
//  height: 46.5px;
//  background-color: #000;
//  position: fixed;
//  top: 0;
//  left: 0;
//  right: 0;
//  z-index: 1;
//}
//#nav, .subnav {
//  list-style-type: none;
//}
//
//#nav {
//  display: inline-block;
//}
//#nav > li {
//  display: inline-block;
//}
//
//#nav li {
//  position: relative;
//}
//
//#nav > li > a {
//  color: #fff;
//  text-transform: uppercase;
//  line-height: 46.5px;
//}
//
//#nav li a {
//  text-decoration: none;
//  padding-left: 24px;
//  padding-right: 24px;
//  display: inline-block;
//}
//
//
//#nav li:hover .subnav {
//  display: block;
//}
//
///* When hover to more, it should have gray back-ground, so that
//need to hover for all li */
//#nav .subnav li:hover a, #nav > li:hover > a {
//  background-color: #ccc;
//}
//
//#nav li:hover a {
//  color: #000;
//}
//
//#nav .subnav {
//  display: none;
//  min-width: 160px;
//  position: absolute;
//  top: 100%;
//  left: 0;
//
//  background-color: white;
//  box-shadow: 0 0 10px rgba(0, 0 , 0, 0.3);
//
//}
//
//#nav .subnav a {
//  color: #333;
//  display: block;
//  padding: 0 16px;
//  line-height: 38.5px;
//}
//
//#nav .nav-arrow-down {
//  font-size: 12px;
//}


//#header .search-btn {
//  float: right;
//  line-height: 46px;
//  padding: 0px 21px;
//}
//
//
//#header .search-btn:hover {
//  background-color: #f44336;
//  cursor: pointer;
//
//}
//
//#header .menu-icon,
//#header .search-icon {
//  color: white;
//  font-size: 20px;
//}