@import "src/themes/index.scss";

.container {
  display: flex;
  flex-flow: row;
  gap: 20px;
  font-size: 15px;

  > .item {
    @extend .backgroundWhite;
    > .img {
      margin-left: auto;
      margin-right: auto;
      align-self: center;
      max-width: 100%;
      border-radius: 4px;
    }

    >.content {
      display: flex;
      flex-flow: column;
      width: 100%;
      justify-content: left;
      text-align: left;
      padding: 0px 12px;
      > .header {
        word-break: break-word;
        font-weight: 600;
        margin: 15px 0 0;
      }
      > .subHeader {
        word-break: break-word;
        margin: 15px 0 0;
        font-weight: 300;
      }

      > .description {
        word-break: break-word;
        margin: 15px 0 0;

      }
      >.button {
        @extend .button;
        margin: 15px 0;
      }

    }




  }
}