@import "src/themes/index.scss";
.containerForm {
     display: flex;
     flex-flow: column wrap;
  margin-left: 80px;
  //display: inline-grid;
  //gap: 50px 100px;
     //margin-left: 200px;
     //.formLabel {
     //  display: flex;
     //  flex-flow: row;
     //  justify-content: space-between;
     //  //margin-top: 15px;

       .formName{
         padding-top: 6px;
         font-size: 15px;
       }

      .formControl {
        width: 200px;
        height: 23px;
        padding: 8px 12px;
        border: 1px solid #b3b3b3;
        border-radius: 3px;
        outline: none;

        &:hover {
          border-color: #1dbfaf;
        }
      }
      .formSelect {
        width: 23px;
        height: 23px;
        padding: 8px 10px;
        border: 1px solid #b3b3b3;
        border-radius: 3px;
        outline: none;

        &:hover {
          border-color: #1dbfaf;
        }
      }
      .formFeedback {
        width: 300px;
        height: 40px;
        padding: 8px 12px;
        border: 1px solid #b3b3b3;
        border-radius: 3px;
        outline: none;
        &:hover {
          border-color: #1dbfaf;
        }
      }


       }

     .formMessage {
       text-align: left;
       font-size: 15px;
       line-height: 15px;
       padding: 4px 0 0;
       color: #f33a58;
     }
     .invalid {
       .formControl {
         border-color: #f33a58;
       }
       .formMessage {
         color: #f33a58;
       }
     }
   .button {
    @extend .button;
     background-color: white;
     color: black;
     margin-top: 12px;
     padding: 8px 10px;

     &:hover {
       background-color: #1ac7b6;
     }
   }
