.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  > .item {
    > .name {
      font-size: 15px;
      text-align: center;
    }

    > .img {
      margin-top: 15px;
      width: 154px;
      border-radius: 4px;
    }
  }
}

 
