.sectionHeading {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 4px;
}

.subHeading {
  text-align: center;
  font-size: 15px;
  margin-top: 25px;
  font-style: italic;
  opacity: 0.5;
}

.text {
  margin-top: 25px;
  text-align: justify;
  line-height: 1.4;
}
