@import "src/themes/index.scss";

.container {
  @extend .backgroundWhite;
  display: flex;
  flex-flow: column wrap;
  padding-left: 0;
  margin: 48px 0;
  >.item {
      border: 0.1px rgba(0, 0 , 0, 0.2) solid;
      display: flex;
      flex-flow: row wrap;
      font-size: 15px;
      text-align: center;
      justify-content: left;

      color: rgba(0, 0 , 0, 0.5);
      > .text {
        width: 150px;
        margin: 12px 16px;
      }
      >.soldOut {
        background-color: red;
        color: white;
        margin: 6px 6px;
        padding: 6px 10px;

      }
      >.quantity {
        color: white;
        background-color: black;
        border-radius: 100%;
        margin: 6px 6px;
        padding: 1px 12px;
        text-align: center;
        line-height: 26px;
      }

      }


}





//margin: 20px 5px;
//box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);