@import "src/themes/index.scss";

.background {
  @extend .backgroundBlack;
}
.container {
  @extend .sectionCenter;

  display: flex;
  flex-flow: column;

  .containerHeader {
    flex: 1;
  }

    > .containerBody {
    display: flex;
    flex-flow: row;
    justify-content: space-around;

    > .containerInfo {
      width: 50%;
    }

    > .containerForm {
      min-width: 40%;
      max-width: 40%;
    }
  }
}
