@import "src/themes/index.scss";

.container {
  @extend .sectionFull;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  >.navItem {
    flex-basis: 50%;
  }

  >.searchIcon {
    align-self: flex-end;
    flex-basis: 50%;
    line-height: 46px;
    >.icon {
      float: right;
      padding: 12px;
      color: white;
      cursor: pointer;
      &:hover {
        background-color: red;
      }
    }

  }
}
.background {
  @extend .backgroundBlack;
}

.display {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
