@import "src/themes/index.scss";

.container {
    @extend .sectionCenter;
    >.iconLayout {
        text-align: center;
        >.link {
            text-decoration: none;
            @extend .icon;
        }
    }
    >.endLine {
        text-align: center;
        opacity: 0.7;
        >.linkFinal {
            color: black;

        }
    }
}
.background {
    @extend .backgroundWhite;
}